<%- include('./base/header.ejs') %> 
<main>

<div class="mycolumn">
<h1>Enchantée <span id="welcomeprenom"><%=info.prenomwelcome%></span> !</h1>

<div>
<p>Dans votre CV, nous avons détecté :</p>
Afficher uniquement les offres personnalisées
<h2><span class="nombrelieutravail"><%=info.cities.length%></span>
Lieux de travail</h2>

<p>Prioriser les offres autour de : <span id="nomdemesvilles">
<% for(var i=0; i<info.cities.length; i++) {%>
<span class="mynewcity"><span class="newcity"><%=info.cities[i]%></span><span class="delete" onclick="this.parentElement.remove();">[X]</span></span>
<% } %>

</span></p>

<div class="field">
<label for="distancemax">Distance max. :</label>
<select id="distancemax" name="distancemax">
<% for(var i=0; i<distances.length; i++) {%>
<option value="<%=distances[i]%>"><%=distances[i]%></option>
<% } %>
</select>
</div>

<input name="addcity" placeholder="Saisir une ville" id="addcity"/>
<button type="button" id="ajouterville">ajouter une ville </button>
<h2><span class="nombremetier"><%=info.jobs.length%></span>
Métiers</h2>
<div id="nomdemesmetiers">
<% for(var i=0; i<info.jobs.length; i++) {%>
<span class="mynewjob"><span class="newjob"><%=info.jobs[i]%></span><span class="delete" onclick="this.parentElement.remove();">[X]</span></span>
<% } %>

</div>

<p>Vous pouvez réorganiser vos métiers en glissant ceux-ci dans l'ordre de votre choix.</p>
<input name="addjob" id="addjob" type="text" placeholder="Ajouter un métier"/>
<button type="button" id="ajoutermetier">ajouter un metier </button>
<h2><span class="nombrecompetence"><%=info.skills.length%></span>
Compétences</h2>
<input name="addskill" id="addskill" type="text" placeholder="Ajouter une compétence"/>
<button type="button" id="ajoutercompetence">ajouter une compétence </button>
<div id="nomdemescompetences">
<% for(var i=0; i<info.skills.length; i++) {%>
<span class="mynewskill"><span class="newskill"><%=info.skills[i]%></span><span class="delete" onclick="this.parentElement.remove();">[X]</span></span>
<% } %>

</div>

<p>Retrouvez nos suggestions qui correspondent à votre CV.</p>
</div>
</div>
<div class="mycolumn">

<%if (jobs.length > 0){%>
<p>Une offre d'emploi correspond à l'analyse de votre CV.</p>
<%for (var i=0;i<jobs.length;i++){%>
<%job=jobs[i]%>
<div>
<h5><%=job.title%></h5>
<p><%=job.date%></p>

<p class="jobdescription"><%=job.description%></p>

<p><%=job.city_id%></p>
<p><%=job.contrat_id%></p>
<p><%=job.entreprise_id%></p>
</div>
<%}%>
<%}else{%>
<p>aucune offre d'emploi ne correspond à l'analyse de votre CV</p>
<%}%>

<h2>Candidature spontanée</h2>

<p>Aucune offre ne vous correspond ? N’hésitez pas à déposer une candidature spontanée.</p>

<p>Les informations ci-dessous vont être envoyées avec votre candidature.</p>
<p>Vous pouvez les corriger si nécessaire.</p>

<form action="/cv" method="post" id="form-send-info">
<div class="field">
<label for="prenom">Prenom *</label>
<input type="text" onkeyup="welcomeprenom.innerHTML=this.value;return false;" onchange="welcomeprenom.innerHTML=this.value;return false;" value="<%=info.prenom%>" id="prenom" name="prenom"/>
</div>
<div class="field">
<label for="nom">Nom de famille *</label>
<input type="text" value="<%=info.nom%>" id="nom" name="nom"/>

</div>
<div class="field">
<label for="email">Adresse électronique *</label>
<input type="text" value="<%=info.email%>" id="email" name="email"/>
</div>
<div class="field">
<label for="phone">Numéro de téléphone *</label>
<input type="text" id="phone" value="<%=info.phone%>" name="phone"/>
</div>
<div class="field">
<label for="entite">Entité</label>
<select id="entite" name="entite">
<% for(var i=0; i<entites.length; i++) {%>
<option <%if (info.entite === entites[i]){%>selected<%}%> value="<%=entites[i].id%>"><%=entites[i].name%></option>
<%}%>
</select>
</div>

<div class="field">
<label for="lettre">Lettre de motivation</label>
<textarea id="lettre" name="lettre"> <%=info.lettre%></textarea>
</div>

<div class="field">
<label for="cv">CV</label>
<input type="file" id="cv" name="cv"/>
</div>
<div class="actions">
<button type="button" id="sendbutton">envoyer votre candidature</button>
</div>
</form>
</div>
</main>
<script>
function sendMyInfo(){
var myform=document.getElementById("form-send-info");

var myformdata=new FormData(myform);

var paspremier,listskills=[], skills=document.getElementsByClassName("newskill");
for (var i=0;i<skills.length;i++){
listskills.push(skills[i].innerHTML);
myformdata.append("skills",skills[i].innerHTML);
}
var listjobs=[],jobs=document.getElementsByClassName("newjob");
for (i=0;i<jobs.length;i++){
listjobs.push(jobs[i].innerHTML);
myformdata.append("jobs",jobs[i].innerHTML);
}
var listcities=[],cities=document.getElementsByClassName("newcity");
for (i=0;i<cities.length;i++){
listcities.push(cities[i].innerHTML);
myformdata.append("cities",cities[i].innerHTML);
}

  $.ajax({
    // Your server script to process the upload
    url: myform.action,
    type: 'POST',

    // Form data
    data: myformdata,

    // Tell jQuery not to process data or worry about content-type
    // You *must* include these options!
    cache: false,
    contentType: false,
    processData: false,

    // Custom XMLHttpRequest
    success: function (data) {
	    console.log("HEY")
	    console.log(JSON.stringify(data))
	    console.log(JSON.stringify(data.redirect))

},
    xhr: function () {
      var myXhr = $.ajaxSettings.xhr();
      if (myXhr.upload) {
        // For handling the progress of the upload
        myXhr.upload.addEventListener('progress', function (e) {
          if (e.lengthComputable) {
            $('progress').attr({
              value: e.loaded,
              max: e.total,
            });
          }
        }, false);
      }
      return myXhr;
    }
  });
	return false;
}
nom.addEventListener("change", sendMyInfo, true);
prenom.addEventListener("change", sendMyInfo, true);
email.addEventListener("change", sendMyInfo, true);
phone.addEventListener("change", sendMyInfo, true);
lettre.addEventListener("change", sendMyInfo, true);
entite.addEventListener("change", sendMyInfo, true);
sendbutton.addEventListener("click", sendMyInfo, true);
//nom.removeEventListener("change", sendMyInfo, true);

ajouterville.onclick=function(){
nomdemesvilles.innerHTML+="<span class=\"mynewcity\"><span class=\"newcity\">"+addcity.value+"</span><span class=\"delete\" onclick=\"this.parentElement.remove();\">[X]</span></span>";
var x = document.getElementsByClassName("nombrelieutravail")[0];
x.innerHTML=String(nomdemesvilles.children.length);
addcity.value="";
return false;
}
ajoutermetier.onclick=function(){
nomdemesmetiers.innerHTML+="<span class=\"mynewjob\"><span class=\"newjob\">"+addjob.value+"</span><span class=\"delete\" onclick=\"this.parentElement.remove();\">[X]</span></span>";
var x = document.getElementsByClassName("nombremetier")[0];
x.innerHTML=String(nomdemesmetiers.children.length);
addjob.value="";
return false;
}
ajoutercompetence.onclick=function(){
nomdemescompetences.innerHTML+="<span class=\"mynewskill\"><span class=\"newskill\">"+addskill.value+"</span><span class=\"delete\" onclick=\"this.parentElement.remove();\">[X]</span></span>";
var x = document.getElementsByClassName("nombrecompetence")[0];
x.innerHTML=String(nomdemescompetences.children.length);
addskill.value="";
return false;
}
</script>
<%- include('./base/footer.ejs') %> 
