<%- include('./base/header.ejs') %> 
<header>
<h1>
Nos offres d'emploi
</h1>
<label for="search">
saisir un métier ou un mot clé</label>
<input type="text" id="search" name="search" placeholder="saisir un métier ou un mot clé"/>
<div>ville
<label for="ville1">
<input id="ville1" type="checkbox" name="ville" value="1"/>
orly
</label>
</div>
<div>secteur
<label for="ville1">
<input id="ville1" type="checkbox" name="ville" value="1"/>
gestion de projet et produit
</label>

</div>
<div>contrat 
<label for="ville1">
<input id="ville1" type="checkbox" name="ville" value="1"/>
cdi
</label>

</div>
<div>entreprise
<label for="ville1">
<input id="ville1" type="checkbox" name="ville" value="1"/>
air caraibe
</label>

</div>
</header>
<main>

<div class="mycolumn">
<h1>Enchanté anonyme !</h1>
<p><%= solution %></p>

<div>
<p>Dans votre CV, nous avons détecté :</p>
Afficher uniquement les offres personnalisées
<h2><span class="nombrelieutravail">1</span>
Lieux de travail</h2>

<p>Prioriser les offres autour de : <span id="nomdemesvilles"></span></p>

<div class="field">
<label for="distancemax">Distance max. :</label>
<select id="distancemax" name="distancemax">
<% for(var i=0; i<distances.length; i++) {%>
<option value="<%=distances[i]%>"><%=distances[i]%></option>
<% } %>
</select>
</div>

<input name="addcity" placeholder="Saisir une ville" id="addcity"/>
<button type="button" id="ajouterville">ajouter une ville </button>
<h2><span class="nombremetier">5</span>
Métiers</h2>
<div id="nomdemesmetiers"></div>

<p>Vous pouvez réorganiser vos métiers en glissant ceux-ci dans l'ordre de votre choix.</p>
<input name="addjob" id="addjob" type="text" placeholder="Ajouter un métier"/>
<button type="button" id="ajoutermetier">ajouter un metier </button>
<h2><span class="nombrecompetence">12</span>
Compétences</h2>
<input name="addskill" id="addskill" type="text" placeholder="Ajouter une compétence"/>
<button type="button" id="ajoutercompetence">ajouter une compétence </button>
<div id="nomdemescompetences"></div>

<p>Retrouvez nos suggestions qui correspondent à votre CV.</p>
</div>
</div>
<div class="mycolumn">
<p>Une offre d'emploi correspond à l'analyse de votre CV.</p>
<div>
<h5>Chef de projet IT OPS</h5>
<p>20 octobre 2025</p>

<p class="jobdescription">Poste rattaché au Responsable du département SI Opérations Aériennes, sous la Direction des Systèmes d’information (DSI). Dans le cadre des objectifs fixés par le Responsable de service, le Chef de projet IT a une mission d’interface entre les équipes métiers et la maîtrise d’œuvre chargée de la réalisation technique du projet. Au quotidien, le Chef de projet IT est force de proposition sur les solutions SI et en assure le pilotage transversal. En amont du projet, il aide à définir les besoins, s’assure de l’intégration des outils à l’existant, consigne les spécifications fonctionnelles et rédige le cahier des charges. Tout au long de la conduite du projet, il veille au respect des coûts, des délais et de la qualité. Dans un contexte de modernisation, la DSI recherche un chef de projet IT afin de : ● Conduire des projets de transformation digitale des opérations aériennes (EFB, préparation des vols, e-logbook, planification des équipages et des vols, etc.) ● Répondre aux exigences IT des airbus A350 ● Accompagner le développement de nouveaux services de connectivité à bord ● Structurer et améliorer la performance du SI Opérations Aériennes ● Participer au recensement, à l’analyse et à la consolidation des demandes applicatives ou corrective du système d’information métier ● Recueillir et analyser les besoins des équipes métiers pour de nouveaux projets (SI ou d’organisation) ou des refontes importantes ● Analyser la faisabilité technique des demandes métiers, et veiller à la cohérence des demandes ● Préparer les éléments de chiffrage du coût des projets ● Rédiger les cahiers des charges formalisant les besoins des métiers ● Animer des réunions avec les équipes métiers de manière à affiner la demande. ● Analyser les impacts organisationnels ● Réaliser la cartographie des processus ● Assurer l’interface avec la MOE (interne ou prestataires) : suivre l’avancement du projet et répondre aux problèmes rencontrés ● Assurer le planning du projet ● Piloter la recette fonctionnelle (tests utilisateurs) ● Coordonner le déploiement du projet (suivi de la mise en ligne et remontée des incidents ou dysfonctionnements) ● Assurer le suivi des corrections des incidents selon leur nature ● Assurer une veille technologique</p>

<p>Orly</p>
<p>CDI</p>
<p>Air Caraïbes</p>
</div>

<h2>Candidature spontanée</h2>

<p>Aucune offre ne vous correspond ? N’hésitez pas à déposer une candidature spontanée.</p>

<p>Les informations ci-dessous vont être envoyées avec votre candidature.</p>
<p>Vous pouvez les corriger si nécessaire.</p>

<div class="field">
<label for="prenom">Prenom *</label>
<input type="text" id="prenom" name="prenom"/>
</div>
<div class="field">
<label for="nom">Nom de famille *</label>
<input type="text" id="nom" name="nom"/>

</div>
<div class="field">
<label for="email">Adresse électronique *</label>
<input type="text" id="email" name="email"/>
</div>
<div class="field">
<label for="phone">Numéro de téléphone *</label>
<input type="text" id="phone" name="phone"/>
</div>
<div class="field">
<label for="entite">Entité</label>
<select id="entite" name="entite">
<option value="aircaraibe">air caraibe</option>
<option value="air france">air france</option>
</select>
</div>

<div class="field">
<label for="lettre">Lettre de motivation</label>
<textarea id="lettre" name="lettre"></textarea>
</div>

<div class="field">
<label for="cv">CV</label>
<input type="file" id="cv" name="cv"/>
</div>
</div>
</main>
<script>
ajouterville.onclick=function(){
nomdemesvilles.innerHTML+="<span class=\"mynewcity\"><span class=\"newcity\">"+addcity.value+"</span><span class=\"delete\" onclick=\"this.parentElement.remove();\">[X]</span></span>";
var x = document.getElementsByClassName("nombrelieutravail")[0];
x.innerHTML=String(nomdemesvilles.children.length);
addcity.value="";
return false;
}
ajoutermetier.onclick=function(){
nomdemesmetiers.innerHTML+="<span class=\"mynewjob\"><span class=\"newjob\">"+addjob.value+"</span><span class=\"delete\" onclick=\"this.parentElement.remove();\">[X]</span></span>";
var x = document.getElementsByClassName("nombremetier")[0];
x.innerHTML=String(nomdemesmetiers.children.length);
addjob.value="";
return false;
}
ajoutercompetence.onclick=function(){
nomdemescompetences.innerHTML+="<span class=\"mynewskill\"><span class=\"newskill\">"+addskill.value+"</span><span class=\"delete\" onclick=\"this.parentElement.remove();\">[X]</span></span>";
var x = document.getElementsByClassName("nombrecompetence")[0];
x.innerHTML=String(nomdemescompetences.children.length);
addskill.value="";
return false;
}
</script>
<%- include('./base/footer.ejs') %> 
